.btn[data-v-de334ad7]{padding-left:5px;padding-right:5px}#selector-add-button[data-v-de334ad7]{width:28px}#crop-group[data-v-c2032dc2]{min-width:215px}.fd2-submit[data-v-efc86288]{width:245px!important;min-width:245px;max-width:245px}.fd2-reset[data-v-efc86288]{width:50px!important;min-width:50px;max-width:50px}
